html,body {
    margin: 0;
    padding: 0;
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.stretch {
    width:100%;
    height:100%;
}

div.content {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 400px;
    margin: 0 auto;
    background: transparent;
    padding: 20px;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 12pt;
    line-height: 17pt;
    -moz-box-shadow: #2F4F4F 4px 4px 10px;
    -webkit-box-shadow: #2F4F4F 4px 4px 10px;
}

a {
    color: red;
}

cite {
    font-size: small;
}
