---
import Layout from '../layouts/Layout.astro';
import notFound from '../assets/notFound.jpg';

const title = 'Not Found';
---

<Layout title={title}>
	<div class="py-12 bg-white">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="lg:text-center">
				<p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">Page Not Found</p>
				<p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Not found</p>
				<img class="block mx-auto h-64 lg:items-center" src={notFound} alt="Not Found"/>
			</div>	
		</div>
	</div>
</Layout>
