---
import { Image } from 'astro:assets';

import facebookIcon from '../assets/icons/facebook_32.png';
import snapchatIcon from '../assets/icons/snapcodeBitmoji.svg';
import stackoverflowIcon from '../assets/icons/stackoverflow_32.png';
import twitterIcon from '../assets/icons/twitter_32.png';
import linkedinIcon from '../assets/icons/linkedin_32.png';

const socialLinks = [
  {
    href: 'http://www.facebook.com/bernieperez',
    img: facebookIcon,
    alt: "Bernie's Facebook Profile",
  },
  {
    href: snapchatIcon.src,
    img: snapchatIcon,
    alt: "Bernie's Snapchat Bitmoji",
  },
  {
    href: 'http://stackoverflow.com/users/1992/bernie-perez',
    img: stackoverflowIcon,
    alt: "Bernie's Stack Overflow Profile",
  },
  {
    href: 'http://www.twitter.com/AeroBernie',
    img: twitterIcon,
    alt: "Bernie's Twitter Profile",
  },
  {
    href: 'https://www.linkedin.com/in/bernielink/',
    img: linkedinIcon,
    alt: "Bernie's LinkedIn Profile",
  },
];
---

<div class="card max-w-sm m-7 bg-primary-content text-primary shadow-xl">
  <div class="card-body">
    <h1 class="card-title">Bernie Perez</h1>

    <p class="mb-4">
      I'm a
      <a
        class="text-secondary"
        href="http://www.linkedin.com/in/bernielink/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Software Engineer
      </a>
      leading projects at
      <a
        class="text-secondary"
        href="http://www.aerospace.org/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        The Aerospace Corporation</a>.
      Over the years, I've been fortunate to work at amazing companies such as
      <a
        class="text-secondary"
        href="https://www.snapchat.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Snap (Snapchat)</a>,
      <a
        class="text-secondary"
        href="https://www.atomtickets.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Atom Tickets</a>,
      <a
        class="text-secondary"
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Facebook</a>,
      <a
        class="text-secondary"
        href="https://www.oculus.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Oculus</a>, and
      <a
        class="text-secondary"
        href="https://www.amazon.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Amazon</a>.
      I earned my Bachelor's and Master's degrees in Computer Science at
      <a
        class="text-secondary"
        href="https://www.csulb.edu/college-of-engineering/computer-engineering-computer-science"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        CSULB
      </a>
      and
      <a
        class="text-secondary"
        href="https://www.cs.ucla.edu/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        UCLA</a>.
    </p>

    <p class="mb-4">
      Outside of work, I enjoy spending time with my wife and our one-year-old puppy, Butters. We love to travel, stay active, try out new restaurants, and explore the outdoors. To recharge, I dive into coding, running, swimming, and CrossFit workouts. A few of my active personal projects include the
      <a
        class="text-secondary"
        href="https://www.fantasyfitnessdraft.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Fantasy Fitness Draft
      </a>
      and
      <a
        class="text-secondary"
        href="https://rom-challenge.web.app/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        ROM Challenge</a>.
    </p>

    <div class="card-actions justify-center">
      {socialLinks.map(({ href, img, alt }) => (
        <a
          class="btn btn-ghost"
          href={href}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Image class="w-8 h-8" src={img} alt={alt} />
        </a>
      ))}
    </div>
  </div>
</div>
