---

---

<div id="container">
  <main>
    <section id="hero">
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your project.
      </h1>
    </section>
  </main>
</div>

<button
  class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900">
  Button
</button>

<button class="btn">Button</button>

<button class="btn btn-primary">Button</button>

<button class="btn w-64 rounded-full">Button</button>
