---
export interface Props {
	title: string;
	description?: string;
	theme?: string;
};

// Tailwind CSS w/ DaisyUI
import '../styles/global.css';
// Import components
import Header from '../components/Header.astro';

const {
	title,
	description,
	theme = 'bumblebee',
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<Header title={title} description={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
